siri_control_system_node_red_edge_box.json
[{"id":"59f713e4.46545c","type":"mqtt in","z":"cbb8989d.68e878","name":"enciende","topic":"enciende","qos":"2","broker":"57e33daa.9213b4","x":140,"y":143,"wires":[["8a7ec5c1.90ecc8","3903c00e.0b9c9"]]},{"id":"33045699.c6adfa","type":"mqtt in","z":"cbb8989d.68e878","name":"","topic":"apaga","qos":"2","broker":"57e33daa.9213b4","x":132,"y":446,"wires":[["59a0f9b7.1aeb18"]]},{"id":"8a7ec5c1.90ecc8","type":"debug","z":"cbb8989d.68e878","name":"","active":true,"console":false,"complete":"false","x":337,"y":120,"wires":[]},{"id":"b5df4a19.952c68","type":"debug","z":"cbb8989d.68e878","name":"","active":true,"console":false,"complete":"false","x":1018,"y":474,"wires":[]},{"id":"3903c00e.0b9c9","type":"function","z":"cbb8989d.68e878","name":"convert from text to int","func":"var var3_PLC=global.get('var3_PLC') || 0;\nvar argumento = msg.payload\nif (argumento ==\"cero\")\nmsg.payload = 1 + var3_PLC ;\nelse\nif (argumento ==\"uno\")\nmsg.payload = 2 + var3_PLC\nelse\nif (argumento ==\"dos\")\nmsg.payload = 4 + var3_PLC;\nreturn msg;","outputs":1,"noerr":0,"x":356,"y":179,"wires":[["c8cd7c88.5a947"]]},{"id":"c8cd7c88.5a947","type":"modbus-write","z":"cbb8989d.68e878","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"3","quantity":"1","server":"8ea8c1bd.56c13","x":703,"y":180,"wires":[["7dd1df18.c064b","bbaaa7f5.fc37e8"],[]]},{"id":"7dd1df18.c064b","type":"modbus-response","z":"cbb8989d.68e878","name":"","registerShowMax":20,"x":800,"y":72,"wires":[]},{"id":"3ca0a914.3bff76","type":"inject","z":"cbb8989d.68e878","name":"apaga todo","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":443,"y":244,"wires":[["c8cd7c88.5a947"]]},{"id":"bbaaa7f5.fc37e8","type":"debug","z":"cbb8989d.68e878","name":"","active":true,"console":false,"complete":"false","x":904,"y":177,"wires":[]},{"id":"5336aba9.269714","type":"comment","z":"cbb8989d.68e878","name":"Activate MULTIPLE outputs at a time 011 110 ","info":"","x":252,"y":56,"wires":[]},{"id":"6070bb12.791564","type":"modbus-read","z":"cbb8989d.68e878","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"3","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"268fa400.61d72c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":146.5,"y":315,"wires":[["2f4fc5c6.a4f65a","e84c5212.1400c"],[]]},{"id":"add53b3d.788f38","type":"debug","z":"cbb8989d.68e878","name":"Modbus Read ","active":false,"console":false,"complete":"payload","x":616.5,"y":302,"wires":[]},{"id":"2f4fc5c6.a4f65a","type":"function","z":"cbb8989d.68e878","name":"Update PLC status","func":"var3_PLC = msg.payload[0];\nglobal.set('var3_PLC',var3_PLC);\nreturn msg;","outputs":1,"noerr":0,"x":367.5,"y":314,"wires":[["add53b3d.788f38"]]},{"id":"59a0f9b7.1aeb18","type":"function","z":"cbb8989d.68e878","name":"convert from text to int","func":"var var3_PLC=global.get('var3_PLC') || 0;\nvar argumento = msg.payload\nif (argumento ==\"cero\")\nmsg.payload = var3_PLC-1;\nelse\nif (argumento ==\"uno\")\nmsg.payload = var3_PLC-2\nelse\nif (argumento ==\"dos\")\nmsg.payload = var3_PLC-4;\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":470,"wires":[["b5df4a19.952c68","c8cd7c88.5a947"]]},{"id":"a191f9af.5c6b78","type":"mqtt in","z":"cbb8989d.68e878","name":"","topic":"cambia","qos":"2","broker":"57e33daa.9213b4","x":120.5,"y":574,"wires":[["4c6e33b1.be3dac"]]},{"id":"26ca71be.cf50ae","type":"modbus-write","z":"cbb8989d.68e878","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"2","quantity":"1","server":"8ea8c1bd.56c13","x":616,"y":575,"wires":[["38371b7f.a16a74"],["acdc3764.95c968"]]},{"id":"38371b7f.a16a74","type":"modbus-response","z":"cbb8989d.68e878","name":"","registerShowMax":20,"x":836.5,"y":521,"wires":[]},{"id":"acdc3764.95c968","type":"debug","z":"cbb8989d.68e878","name":"","active":true,"console":false,"complete":"false","x":831.5,"y":594,"wires":[]},{"id":"4c6e33b1.be3dac","type":"function","z":"cbb8989d.68e878","name":"get rid of thousands and comma","func":"var myVar = msg.payload\nmyVar = myVar.replace(/([.,])(\\d\\d\\d\\D|\\d\\d\\d$)/g,'$2');\nmsg.payload = myVar\nreturn msg;","outputs":1,"noerr":0,"x":352.5,"y":574,"wires":[["26ca71be.cf50ae"]]},{"id":"e84c5212.1400c","type":"modbus-response","z":"cbb8989d.68e878","name":"","registerShowMax":20,"x":377.5,"y":362,"wires":[]},{"id":"57e33daa.9213b4","type":"mqtt-broker","z":"cbb8989d.68e878","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8ea8c1bd.56c13","type":"modbus-client","z":"cbb8989d.68e878","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.58","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"200","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"268fa400.61d72c","type":"modbus-client","z":"cbb8989d.68e878","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.58","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"72","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"}]